# MISC
.DS_Store
*.pem
ignore/

# EDITOR
.idea/

# MODULES
node_modules/
.pnp
.pnp.js

# DEBUG
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# NEXT
.next/
.vercel/
build/
out/

# ENV
.env*.local
/.env

# TS
*.tsbuildinfo

# CONTENTLAYER
.contentlayer/
